.product {
     height: 100vh;
     display: grid;
     width: 100%;

     &__inner {
          display: grid;
          margin-top: var(--menu-height);
          margin-bottom: var(--gap-xl);
     }

     &__content {
          display: flex;
          justify-content: center; // กระเป๋าไปอยู่กลางจอแล้ว  สัมพันธ์กับ  &__image {position: relative; ข้างล่าง
          align-items: center;
     }

     &__bgtext {
          position: absolute;
          font-size: 7.5vw;
          font-weight: 700;
          text-transform: uppercase;
          color: var(--color-gray-100);
          text-align: center;
          //top: 50%; // สองบรรทัดนี้ทำให้อักษรพื้นหลังลงมาตรงกลางพอดี
          //transform: translateY(-50%);
     }

     &__image {
          position: relative; // อักษรพื้นหลัง ไปอยู่ข้างหลัง
          img {
               max-height: 80vh;
          }
     }

     .swiper {
          width: 100%;

          &-slide {
               overflow: hidden;
          }
          &-pagination {
               align-items: left; // ให้จุดสี่น้ำเงินไว้ด้านซ้าย
               left: var(--gap-large);
               bottom: 0;

               --swiper-pagination-bullet-size: 11px; // ขนาดของจุดน้ำเงิน
               --swiper-pagination-bullet-inactive-color: var(
                    --color-gray-100
               ); // สีของจุดที่เหลือ อันล่างด้วย
               --swiper-pagination-bullet-inactive-opacity: 1;
               --swiper-pagination-color: var(
                    --color-light
               ); // ตอนนี้จุดที่บอกสินค้าเป็นสีนี้แล้ว ไม่เอาน้ำเงิน
          }

          &__arrow {
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               left: var(--gap-large);
               z-index: 2; //
               cursor: pointer;
               &--next {
                    left: auto;
                    right: var(--gap-large);
               }
          }
     }
}
